body {
	margin: 0;
	padding: 0;
}

#input {
	width: 100%;
	margin: 0;
	padding: 4px;
	border: 0;
	border-top: solid 1px gray;
	font-family: Consolas, Courier New;
	font-size: 20px;
	display: inline-block;
}

form {
	width: 100%;
	margin: 0;
	padding: ;
	position: absolute;
	bottom: 0;
}

#output {
	font-family: Consolas;
	font-size: 20px;
	margin: 4px;
}

#output .error {
	color: red;
}